{% extends 'base.html' %}

{% block main %}

<a class="btn btn-sm btn-success" href="{% url 'groups' %}"
role="button">Groups</a>

{% if request.user.is_authenticated %}
    <button type="button" class="btn btn-sm btn-success" onclick="">
        Add User
    </button>
{% endif %}


<table border="1" width="100%" cellpadding="10">
    <tr>
        <th>name of Users</th>
        <th>below to group</th>
        <th>created</th>
    </tr>
    {% for user in users_list %}
        <tr>
            <th>{{ user.user }}</th>
            <th>{{ user.groups }}</th>
            <th>{{ user.create }}</th>
            {% if request.user.is_authenticated %}
            <th><button type="button" class="btn btn-sm btn-success" onclick="">
                delete
            </button>
            {% endif %}
        </tr>
    {% endfor %}
<table/>
{% endblock %}