{% extends 'base.html' %}

{% block main %}

{% if request.user.is_authenticated %}
    <button type="button" class="btn btn-sm btn-success" onclick="">
        Add User
    </button>
{% endif %}

{% for user in users_list %}
    <div class="col-6">

        <div class="card">
            <p class="card-text">
                Name of Groups: {{ user.user }}<br>
                Description: {{ user.groups }}
                data_of_created: {{ users.create }}
            </p>
            <p>
                {% if request.user.is_authenticated %}
                  <button type="button" class="btn btn-sm btn-success" onclick="">
                    Edit
                  </button>
                  <button type="button" class="btn btn-sm btn-success" onclick="">
                    Delete
                  </button>
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}

{% endblock %}