{% extends 'base.html' %}

{% block main %}
<a class="btn btn-sm btn-success" href="{% url 'users' %}"
role="button">Users</a>
{% if request.user.is_authenticated %}
    <button type="button" class="btn btn-sm btn-success" onclick="">
        Add Group
    </button>
{% endif %}


<table border="1" width="100%" cellpadding="10">
    <tr>
        <th>id</th>
        <th>name of group</th>
        <th>group description</th>
    </tr>
    {% for group in groups_list %}
        <tr>
            <th>{{ group.id }}</th>
            <th>{{ group.name }}</th>
            <th>{{ group.description }}</th>
            {% if request.user.is_authenticated %}
            <th>><button type="button" class="btn btn-sm btn-success" onclick="">
                add user
            </button>
            <th><button type="button" class="btn btn-sm btn-success" onclick="">
                delete
            </button>
            {% endif %}
        </tr>
    {% endfor %}
<table/>

{% endblock %}